<h2 mat-dialog-title>Kullanicilari Davet Et</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="outline">
    <mat-label>Kullanici Adi</mat-label>
    <input matInput [formControl]="formControl">
    <mat-icon matSuffix>person_search</mat-icon>
    <mat-error *ngIf="formControl.invalid">{{ getErrorMessage() }}</mat-error>
  </mat-form-field>
  <mat-selection-list #filteredUsers>
    <mat-list-option *ngFor="let user of searchedUsers$ | async" [value]="user.id">
      {{user.username}}
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Iptal</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial (click)="sendInvitation(filteredUsers.selectedOptions.selected)">Davet Yolla</button>
</mat-dialog-actions>
