<mat-drawer-container style="height: 100%;">
  <mat-drawer mode="side" opened>
    <mat-nav-list>
      <mat-list-item [routerLink]="['user', { userRole: 'ATHLETE' }]">
        <h1 matLine>Atletler</h1>
      </mat-list-item>
      <mat-list-item [routerLink]="['user', { userRole: 'TRAINER' }]">
        <h1 matLine>Antrenorler</h1>
      </mat-list-item>
      <mat-list-item [routerLink]="['user', { userRole: 'CO_FOUNDER' }]">
        <h1 matLine>Kurucular</h1>
      </mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
